.formsEntries {
	border: 1px #a0a0a0 solid;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 25px;
	top: 100px;
	overflow: auto;
}

.formsEntries .formviewer, .formsEntries .source {
	position: absolute;
	left: 0;
	right: 0;
	top: 24px;
	bottom: 0;
	height: auto !important;
	overflow: auto;
	z-index: 0;
}

.formsEntries .links {
	border-bottom: 1px #a0a0a0 solid;
	position: absolute;
	left: 0;
	right: 0;
	height: 23px;
	padding: 0;
	z-index: 1;
}

.formsEntries .links a {
	font-weight: bold;
	color: #1f1f1f;
	background-color: #efefef;
	display: block;
	float: left;
	margin: 0 !important;
	padding: 0 6px;
	line-height: 23px;
	border-right: 1px #a0a0a0 solid;
}

.formsEntries .source textarea {
	
	width: 100%;
	height: 500px;
}

.formsEntries .links a {
	font-weight: bold;
}

.formsEntries table {
	width: 100%;
}

.formsEntries table td {
	cursor: pointer;
	padding: 5px 8px;
	border-bottom: 1px #dedede solid;
	font-size: 13px !important;
}

.formsEntries table th {
	padding: 8px;
	text-align: left;
	border-top: 1px #a0a0a0 solid;
	border-bottom: 1px #a0a0a0 solid;
	background-color: #efefef;
	font-size: 13px !important;
}

.formsEntries table tr:hover td {
	background-color: #87B1FE;
	color: white;
}

.formsEntries .chooseForm {
	padding: 3px;
	text-align: right;
}

.formsEntries .chooseForm select {
	margin: 0;
	font-size: 14px;
}

.savedFormsViewerHeaderRow {
	background: #D6D6D6 none repeat scroll 0 0;
}

.savedFormsViewerHeaderRow th {
	color: #303030;
	font-size: 12px;
}

tr.odd {
	background-color: #EFEFEF;
}

.savedFormsViewerBodyRows tr:HOVER {
	background-color: #E8F1FC;
}

.savedFormsViewerTable thead tr .header {
	background-image: url(../images/bg.gif);
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.savedFormsViewerTable thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.savedFormsViewerTable thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}

.savedFormsViewerFormHeaderRow {
	width: 200px;
}

.savedFormsViewerSavedAtHeaderRow {
	width: 150px;
}

.savedFormsViewerAuthorHeaderRow {
	width: 200px;
}

img.ui-datepicker-trigger {
	margin-left: 5px;
}
input.savedFormsFilterButton {
	margin-left: 10px;
	width: 50px !important;
}
div.shortFormItem {
	float: left;
	width: 242px !important;
}
div.shortFormItem label {
	float: left !important;
    width: 60px !important;
}
table.savedFormsViewerTable {
	width: auto;
}
div.date-range-filter-button {
	float: left;
	text-align: left !important;
	clear: none !important;
	margin-top: -5px !important;
	margin-bottom: 5px !important;
	margin-left: 15px !important;
}
