.formsEntries {
	border: 1px #a0a0a0 solid;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 25px;
	top: 100px;
	padding: 10px;
	overflow: auto;
}

.formsEntries .links {
	padding: 0 0 5px 5px;
}

.formsEntries .links a {
	font-weight: bold;
}

.formsEntries table tr {
    background-color: #D3E3FE;
}

.formsEntries table td {
	padding: 5px;
}

.formsEntries table th {
    padding: 8px;
}

.formsEntries table tr:hover td {
    background-color: #87B1FE;
    color: white;
}