.formsEntries {
	border: 1px #a0a0a0 solid;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 25px;
	top: 100px;
	overflow: auto;
}

.formsEntries .links {
	padding: 0 0 5px 5px;
}

.formsEntries .links a {
	margin-right: 10px;
}

.formsEntries .source textarea {
	
	width: 100%;
	height: 500px;
}

.formsEntries .links a {
	font-weight: bold;
}

.formsEntries table {
	width: 100%;
}

.formsEntries table tr {
}

.formsEntries table td {
	cursor: pointer;
	padding: 5px 8px;
	border-bottom: 1px #dedede solid;
}

.formsEntries table th {
	padding: 8px;
	text-align: left;
	border-bottom: 1px #a0a0a0 solid;
	background-color: #efefef;
}

.formsEntries table tr:hover td {
	background-color: #87B1FE;
	color: white;
}