/* ***************************************************************************** */
/* ************** CSS STYLESHEET FOR STYLING XFORMS INSIDE OF HTML ************* */
/* this stylesheet uses table layout which may not be supported on all browsers. */
/* ***************************************************************************** */

/*********** GENERAL STUFF ***********/

#loading{
    position:absolute;
    top:2px;
    right:5px;
    z-index:1000;
    padding:3px;
}

.inactive{
    display:none;
}
#legend{padding:3px;}

/* #################### GROUP STYLES #################### */
/* xf:groups will be rendered as fieldsets and therefore
are styleable via this matcher or more specifically by their
appearance class 'minimal-group|compact-group|full-group'. */
* > fieldset {
    border: thin solid rgb( 188, 216, 132 );
    background: #F0F4EA;
    margin-bottom:5px;
}
/* IE */
fieldset{
    margin-bottom:5px;
}

/*********** used to render group labels ***********/
fieldset > legend {
    padding: 3px;
    border: thin solid rgb( 188, 216, 132 );
    background: #F0F4EA;
    color: rgb( 85, 96, 63 );
    margin-top:5px;
    margin-bottom:5px;
}

/* IE */
fieldset legend{
    padding: 3px;
    border: thin solid rgb( 188, 216, 132 );
    color: rgb( 85, 96, 63 );
    margin-top:5px;
    margin-bottom:5px;
}

/*********** use to render group labels ***********/
.legend{
    border:thin groove;
    color:#888888;
    text-align:center;
    }

/*********** nested group ***********/
fieldset > fieldset {
    margin:5px;
    background: rgb( 234, 241, 220 );
    padding-top:0px;
}

/* IE */
fieldset fieldset{
    margin:5px;
}

/*********** nested nested group ***********/
fieldset > fieldset > fieldset {
    margin:5px;
    display:block;
    background: #F0F4EA;
}

/*********** group appearances ***********/
.minimal-group{
    padding-top:5px;
}
.minimal-group div{
    display:inline;
    margin-right:3px;
}

.compact-group div{
    display:block;
    margin-top:3px;

    /*float:left;*/
    /* Safari doesn't like the float. Firefox renders this correctly.*/
}
.compact-group div label{
    display:block;
}
.compact-group div .value{
    display:inline;
    margin-right:3px;
}


.full-group div{
    display:block;
    margin-top:3px;
    clear:both;
}
.full-group label{
    width:10em;
    float:left;
}
.full-group .value{
    display:inline;
}

.minimal-group label{
    display:inline;
}

/* #################### GENERAL XFORMS MIP AND COMMON-CHILD STYLES #################### */

.invalid > .alert{
    position:absolute;
    border:thin solid #A42322;
    background-color:#DAE9BB;
    color:#A42322;
    padding:2px;
    height:14px;
    margin-left:2px;
    font-weight:bold;
}

.valid > .alert{
    display:none;
}
.invalid .value{
    color:white;
    font-style:italic;
    background:#A42322;
}

/*
.valid.alert{display:none;}
.invalid.alert{
    position:absolute;
    border:thin solid #A42322;
    background-color:#DAE9BB;
    color:#A42322;
    padding:2px;
    height:14px;
    margin-left:2px;
    font-weight:bold;
}
*/

.disabled label{
    display:none;
}
.disabled .value{
    display:none;
}
.disabled {
    display:none;
}
.disabled .alert{
    display:none;
}
.disabled .progressbar{
    display:none;
}
/*********** styles character used for signaling 'required' (normally '*') ***********/
.required-symbol{
    color:#A42322;
    font-size:larger;
}
.repeat .label .required-symbol{
    color:red;
    display:inline;
}

.optional .required-symbol{                         
    display:none;
}

.enabled {
}


.label{
    color:rgb(85, 96, 63);
}

.help-text{
    position:absolute;
    display:none;
    width:300px;
    border:thin solid gray;
    background:azure;
    padding:10px;
}
.help-symbol{
    margin-left:3px;
}
/* #################### Repeat styles #################### */

.repeat-prototype {
    display: none;
}

.repeat-item {
}

.repeat-index {
    background: #BCD884;
}

.repeat-index-pre {
    background: #DAE9BB;
}

.repeat-selector {
    /*float: left;*/
}

.selector-prototype {
    display: none;
}


.minimal-repeat{
    display:block;
}
.minimal-repeat .repeat-item{
    float:left;
}
.minimal-repeat .repeat-index{
    float:left;
}


/* #################### SWITCH STYLES #################### */

.switch .selected-case {
    display: inherit;
}

.switch .deselected-case {
    display: none;
}

.full-switch {
    border-spacing: 0px;
}

.full-switch-body {
    background: #F0F4EA;
    border: 1px solid black;
    border-top: none;
}

.full-switch .active-tab {
    background: #F0F4EA;
    border: 1px solid rgb(85, 96, 63);
    border-right: none;
    border-bottom: #F0F4EA;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.full-switch .active-tab input {
    background: #F0F4EA;
    border: none;
}

.full-switch .inactive-tab {
    background: rgb(188, 216, 132);
    border: 1px solid rgb(85, 96, 63);
    border-right: none;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.full-switch .inactive-tab input {
    background: rgb( 188, 216, 132 );
    border: none;
}

.full-switch .filler-tab {
    border: 1px solid rgb( 85, 96, 63 );
    border-top: none;
    border-right: none;
    width: 90%;
    overflow: hidden;
}

/* #################### CONTROL STYLES #################### */


/* ### example rules for styling the actual controls (widgets) ### */
/*
.trigger > .value {
    margin: 2px;
    padding: 2px 2px 1px 2px;
    color: #000000;
    border: thin solid;
    font-size: 10pt;
    font-family: sans-serif;
}
*/


/*********** Range specific styles ***********/
.rangelabel td{
    background:transparent;
    text-align:center;
    font-size:8pt;
}

.rangesteps{
    height:25px;
    width:6px;
}
.rangesteps td {
    background: rgb( 188, 216, 132 );
}

.rangesteps td img{
    border:none;
    display:block;
}

.rangesteps td a:hover img {
    background: rgb( 218, 233, 187 );
    width:6px;
    height:25px;
}
.rangevalue * {
    background:#564;
}
.rangesteps .rangevalue a:hover *{
    background:#564;
}
/* IE */
.rangesteps .rangevalue *{
    background:#564;
}
/*********** Upload specific styles ***********/
.progressbar{
    display:none;
}
.progressbar .border{
    margin-top:1px;
    background: url(../images/progress-remainder.gif) repeat-x;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    height: 18px;
}
.progressbar .background {
  background: url(../images/progress-bar.gif) repeat-x;
  height: 18px;
  width: 0%;
}

.selected-case span.output{
	display: block !important;
	clear: both !important;
	overflow: hidden;
	width: auto !important;
}

.selected-case span.output label.label{
	float: left;
	clear: both !important;
	padding: 4px;
}

.selected-case span.output span{
	display: block;
	float: left;
	clear: right !important;
	padding: 4px;
}

/* Extra stylings */

h1.title,
#formHeading{
	border: 1px #949494 solid;
	background: #88827e url("/content/files/public/boxHeaderTiler.gif") left top repeat-x;
	font-family: "Trebuchet MS", Arial, "Helvetica", "Arial", sans-serif;
	font-size: 118%;
	color: #fff;
	font-weight: bold;
	text-shadow: #000 2px 2px 1px;
	padding: 4px 0 0 6px;
	margin: 0 2px 2px;
	height: 18px;
	position: relative;
	line-height: 13px;
}

.fbcomp_header_text{
	border-top: 1px #a4a4a4 solid;
	border-bottom: 1px #a4a4a4 solid;
	background: url(/content/files/public/sub_header_tiler.gif) repeat-x #d6d6d6;
	height: 18px;
	color: #222222;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-top: 4px;
	margin: 0;
	clear: both;
}

span.required-symbol{
color: #ff2700;
font-size: 1.4em;
}

.invalid .alert{
border-width: 0 !important;
background: transparent !important;
color: #ff2700;
position: relative;
top: -4px;
}

.invalid input.value{
background: #ffe2ca !important;
color: #000;
}


select.value{
width: auto !important;
min-width: 128px;
}

select.value option{
padding: 2px;

}

